html {
    font-family: Arial;
    background-color: #181b2a;
}

button {
    color: white;
    background-color: purple;
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contPage0 {
    padding: 10px;
    color: white;
}

.contPage1 {
    padding: 10px;
    border-radius: 10px;
    background-color: #71008A50;
}