html {
    font-family: Arial;
    background-color: #181b2a;
}

button {
    color: white;
    background-color: purple;
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contPage0 {
    padding: 10px;
    color: white;
}

.contPage1 {
    padding: 10px;
    border-radius: 10px;
    background-color: #71008A50;
}

@media (orientation: landscape) {
    .page1LogoSetup {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 300px 1fr;
        grid-template-areas: 'LOGOSPACE' 'LOGOPLACING' 'LOGOSPACE';
    }

    .page1 {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 100vh;
        background-color: darkslateblue;
        background-image: url('./src/BGTriangles.png');
        background-position: center;
        background-size: cover;
        grid-template-areas: 'R L';
    }

    .page1Logo {
        width: 100%;
    }
}

@media (orientation: portrait) {
    .page1Logo {
        width: 40%;
    }
}